extends ../layout/common
block content
	h1 Users
	a(href="/user/create") Create
	form(action="/user/search", method="GET")
		input(type="text" name="q" id="in")
		button Search
	ul
		each user in users
			li
				span=user.name
				span &nbsp;
				a(href='/user/' + user.id) View